USE [master]
GO
/****** Object:  Database [FB]    Script Date: 2024/7/26 下午 01:43:12 ******/
CREATE DATABASE [FB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FB]
GO
/****** Object:  Table [dbo].[follwer list]    Script Date: 2024/7/26 下午 01:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[follwer list](
	[UserID] [nchar](50) NOT NULL,
	[follower ID] [nchar](50) NOT NULL,
 CONSTRAINT [PK_follwer list] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[follower ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIkes UserID]    Script Date: 2024/7/26 下午 01:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIkes UserID](
	[TYPE ID] [nchar](50) NOT NULL,
	[ID] [nchar](50) NOT NULL,
	[UserID] [nchar](50) NOT NULL,
 CONSTRAINT [PK_LIkes UserID] PRIMARY KEY CLUSTERED 
(
	[TYPE ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message]    Script Date: 2024/7/26 下午 01:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message](
	[messageID] [nchar](50) NOT NULL,
	[UserID] [nchar](50) NOT NULL,
	[message content] [nchar](1000) NOT NULL,
	[reactionID] [nchar](50) NULL,
	[TYPE] [nchar](50) NULL,
	[Likes UserID] [nchar](50) NOT NULL,
 CONSTRAINT [PK_message] PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[photo]    Script Date: 2024/7/26 下午 01:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[photo](
	[photo ID] [nchar](50) NOT NULL,
	[photo] [image] NOT NULL,
	[UserID] [nchar](50) NOT NULL,
 CONSTRAINT [PK_photo] PRIMARY KEY CLUSTERED 
(
	[photo ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post]    Script Date: 2024/7/26 下午 01:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[postID] [nchar](50) NOT NULL,
	[title] [nchar](50) NOT NULL,
	[photoID] [nchar](50) NULL,
	[UserID] [nchar](50) NOT NULL,
	[post content] [nchar](1000) NOT NULL,
	[message] [nchar](50) NOT NULL,
	[time] [datetime] NOT NULL,
	[share] [int] NULL,
	[reaction] [nchar](50) NULL,
	[Likes UserID] [nchar](50) NULL,
 CONSTRAINT [PK_post] PRIMARY KEY CLUSTERED 
(
	[postID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reaction]    Script Date: 2024/7/26 下午 01:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reaction](
	[reactionID] [nchar](50) NOT NULL,
	[reaction image] [image] NOT NULL,
 CONSTRAINT [PK_reaction] PRIMARY KEY CLUSTERED 
(
	[reactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stories]    Script Date: 2024/7/26 下午 01:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stories](
	[storyID] [nchar](50) NOT NULL,
	[story content] [nchar](200) NOT NULL,
	[UserID] [nchar](50) NOT NULL,
	[Likes UserID] [nchar](50) NOT NULL,
	[story time] [nchar](50) NOT NULL,
	[reactionID] [nchar](50) NULL,
 CONSTRAINT [PK_stories] PRIMARY KEY CLUSTERED 
(
	[storyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE]    Script Date: 2024/7/26 下午 01:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE](
	[TYPEID] [nchar](50) NOT NULL,
	[TYPENAME] [nchar](50) NOT NULL,
 CONSTRAINT [PK_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2024/7/26 下午 01:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [nchar](50) NOT NULL,
	[UserName] [nchar](50) NOT NULL,
	[photo] [image] NULL,
	[post] [nchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[follwer list]  WITH CHECK ADD  CONSTRAINT [FK_follwer list_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[follwer list] CHECK CONSTRAINT [FK_follwer list_User]
GO
ALTER TABLE [dbo].[LIkes UserID]  WITH CHECK ADD  CONSTRAINT [FK_LIkes UserID_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[LIkes UserID] CHECK CONSTRAINT [FK_LIkes UserID_User]
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD  CONSTRAINT [FK_message_LIkes UserID] FOREIGN KEY([Likes UserID])
REFERENCES [dbo].[LIkes UserID] ([TYPE ID])
GO
ALTER TABLE [dbo].[message] CHECK CONSTRAINT [FK_message_LIkes UserID]
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD  CONSTRAINT [FK_message_reaction] FOREIGN KEY([reactionID])
REFERENCES [dbo].[reaction] ([reactionID])
GO
ALTER TABLE [dbo].[message] CHECK CONSTRAINT [FK_message_reaction]
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD  CONSTRAINT [FK_message_TYPE] FOREIGN KEY([TYPE])
REFERENCES [dbo].[TYPE] ([TYPEID])
GO
ALTER TABLE [dbo].[message] CHECK CONSTRAINT [FK_message_TYPE]
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD  CONSTRAINT [FK_message_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[message] CHECK CONSTRAINT [FK_message_User]
GO
ALTER TABLE [dbo].[photo]  WITH CHECK ADD  CONSTRAINT [FK_photo_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[photo] CHECK CONSTRAINT [FK_photo_User]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FK_post_LIkes UserID] FOREIGN KEY([Likes UserID])
REFERENCES [dbo].[LIkes UserID] ([TYPE ID])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FK_post_LIkes UserID]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FK_post_message] FOREIGN KEY([message])
REFERENCES [dbo].[message] ([messageID])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FK_post_message]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FK_post_reaction] FOREIGN KEY([reaction])
REFERENCES [dbo].[reaction] ([reactionID])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FK_post_reaction]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FK_post_reaction1] FOREIGN KEY([reaction])
REFERENCES [dbo].[reaction] ([reactionID])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FK_post_reaction1]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FK_post_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FK_post_User]
GO
ALTER TABLE [dbo].[stories]  WITH CHECK ADD  CONSTRAINT [FK_stories_LIkes UserID] FOREIGN KEY([Likes UserID])
REFERENCES [dbo].[LIkes UserID] ([TYPE ID])
GO
ALTER TABLE [dbo].[stories] CHECK CONSTRAINT [FK_stories_LIkes UserID]
GO
ALTER TABLE [dbo].[stories]  WITH CHECK ADD  CONSTRAINT [FK_stories_LIkes UserID1] FOREIGN KEY([Likes UserID])
REFERENCES [dbo].[LIkes UserID] ([TYPE ID])
GO
ALTER TABLE [dbo].[stories] CHECK CONSTRAINT [FK_stories_LIkes UserID1]
GO
ALTER TABLE [dbo].[stories]  WITH CHECK ADD  CONSTRAINT [FK_stories_reaction] FOREIGN KEY([reactionID])
REFERENCES [dbo].[reaction] ([reactionID])
GO
ALTER TABLE [dbo].[stories] CHECK CONSTRAINT [FK_stories_reaction]
GO
ALTER TABLE [dbo].[stories]  WITH CHECK ADD  CONSTRAINT [FK_stories_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[stories] CHECK CONSTRAINT [FK_stories_User]
GO
ALTER TABLE [dbo].[TYPE]  WITH CHECK ADD  CONSTRAINT [FK_TYPE_LIkes UserID] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[LIkes UserID] ([TYPE ID])
GO
ALTER TABLE [dbo].[TYPE] CHECK CONSTRAINT [FK_TYPE_LIkes UserID]
GO
USE [master]
GO
